@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body
{
    background-color: blanchedalmond
}
*{
    margin: 0;
    padding: 0;
}
nav
{
    font-family: 'Ubuntu', sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li 
{
    padding: 0px 12px;
}
.brand 
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container
{
    min-height: 64vh;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    width: 75%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 47px;
    background-image: url('boxbg.png');
}
.bottom
{
    position: sticky;
    height: 130;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column;
}
.icons {
    margin-top: 33px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar
{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songItem
{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 43px;
    margin: 0 23px 0;
    border-radius: 50%;
}
.timestamp
{
    margin: 0 23px;

}
.timestamp i
{
    cursor: pointer;
}
.songItemContainer
{
    margin-top: 74px;
}
.songinfo
{
    position: absolute;
    left: 10vw;
    font-family: 'Ubuntu', sans-serif;
}
.songinfo img
{
    position: relative;
    left: 0.01vw;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}












